@model JogoModel
@{
    ViewBag.Title = "JogoDetalhes";
}

<h2>JogoDetalhes</h2>

<div> @Model.Nome </div>
<div> @Model.Descricao </div>
<div> @Model.Preco </div>
<div> @Model.Categoria </div>
<div> @Model.Selo </div>

